 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                  </div>
                </div>
                <div class="row">
                  <ul class="list-inline item-details">
                     <!-- education -->
                     <h3 class="section-title">Education</h3>
                     {% for exp in site.categories.education %}
                      <p>{{ exp.description }}</P>
                       {% endfor %}
                     <hr class="star-light">
                     <!-- experiences -->
                    <h3 class="section-title">Experience</h3>
                    {% for exp in site.categories.experiences %}
                      <p style="text-align:left;"><b>{{ exp.company-name }}</b>
                        <span style="float:right;"><b>{{ exp.location }}</b></span>
                      </p>
                      <p style="text-align:left;"><b>{{ exp.position-title }}</b>
                        <span style="float:right;"><b>{{ exp.timeline }}</b></span>
                      </p>
                      <p>{{ exp.description }}</P>
                        <!-- {% if exp.detailed %}
                        <i class="fa fa-search-plus" aria-hidden="true">&nbspMore Info</i>
                        {% endif %} -->
                      <hr class="style17">
                      {% endfor %}
                      <hr class="star-light">
                    </ul>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                      <a href="https://app.box.com/s/ho2xuo9jv52bl80nmi265htcv05oq1it" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                      </a>
                    </div>
                  </div>
                </div>
              </section>
